.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  background-color: rgb(136, 24, 24);
  height: 90px;
  font-weight: bold;
  font-size: 30px;
  padding-top: 50px;
}
.foot{
  margin-top: 200px;
  padding-top: 10px;
  color: white !important;
  background-color: rgb(116, 34, 34);
  height: 95px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
a{
  margin-top: 50px !important;
  text-decoration: none !important;
  color: white !important;
  margin-right: 20px;
}
